<div class="flex items-center mb-4 justify-between" id="todo-{{this.id}}">
  <div class="flex">
    <input
      type="checkbox"
      name="completed"
      class="h-6 w-6 mr-4"
      hx-patch="/todos/{{this.id}}"
      hx-target="body"
      hx-swap="innerHTML"
      {{#if this.completed}} checked {{/if}}
    />
    <div class="">
      {{this.name}}
    </div>
  </div>
  <div class="flex gap-4">
    <img
      src="assets/edit.svg"
      alt="edit"
      class="h-6 w-6 cursor-pointer"
      title="Edit Todo"
      hx-get="/todos/{{this.id}}/edit"
      hx-target="#todo-{{this.id}}"
      hx-swap="outerHTML"
    />
    <img
      src="assets/trash.svg"
      alt="delete"
      class="h-6 w-6 cursor-pointer"
      hx-delete="/todos/{{this.id}}"
      hx-confirm="Are you sure?"
      hx-target="#todo-{{this.id}}"
      title="Delete Todo"
    />
  </div>
</div>
